body{
    background-color: black;
    padding:2%;
}
table{
    border-collapse: collapse;
    width:100%;
}
th{
    border:1px solid black;
    padding:2%;
    font-size:30px;
}
td{
    border:1px solid black;
    padding:2%;
    text-align: center;
}
select{
    padding:10px;
    width:100%;
    font-size:18px;
}
tr:nth-child(odd){
    background-color: rgb(39, 38, 38)
}
h1{
    text-align: center;
}
.dashboard{
    padding:2%;
    color:white;
    font-size:20px;
}
.App{
    color:white;
    text-align: center;
    width:100%;
}
.login-form{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.field{
    display:flex;
    width:100%;

    padding:2%;
}
.name{
    padding:2% 2%;
}
.input{
    width:100%;
}
form{
    width:45%;
    padding:2%;
    background-color: rgb(39, 38, 38);
}
label{
    font-size:20px;
    /* padding:2%; */
}
input{
    width:90%;
    padding:2%;
    font-size:18px;
}
button{
    width:100%;
    padding:2%;
    background-color: rgb(24, 22, 22);
    color:white;
    font-size:20px;
    cursor: pointer;
}

@media screen and (max-width:600px){
    body{
        padding:0;
    }
    form{
        width:100%;
    }
    th{
        font-size:20px;
    }
    td{
        font-size:15px;
    }
    select{
        padding:2px;
        font-size:15px;
    }

}
